body {
    font-family: 'SH Pinscher', Fallback, sans-serif;
}

.fancy-shadows {
    box-shadow: rgba(0, 0, 0, 0.16) 1px 1px 1px, rgb(51, 51, 51) 0px 0px 3px 3px;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;*/
    border-radius: 2px;
}

.btn-action {
    border: solid 2px black;
}

.btn-mint {
    background-color: aquamarine;
}

.btn-transfer {
    background-color: cornflowerblue;
    color: beige;
}

.btn-burn {
    background-color: crimson;
    color: beige;
}

.btn-connect {
    background-color: coral;
}

.price-change {
    cursor: pointer;
}

.card-title {
    font-size: 200%;
}

.card-text {
    font-size: 130%;
}